<%- include("header") -%>
<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, excepturi mollitia beatae dolorum soluta, asperiores
  laboriosam, suscipit accusantium ad tempora perspiciatis minus vero accusamus harum voluptate quidem doloribus. Quod,
  iusto.</p>

<%- include("footer") -%>